# ======================
# ENV FILES (VERY IMPORTANT)
# ======================
.env
backend/.env
frontend/.env

# ======================
# PYTHON
# ======================
__pycache__/
*.pyc
venv/
backend/venv/

# ======================
# NODE / FRONTEND
# ======================
node_modules/
frontend/node_modules/
dist/
build/

# ======================
# FILE UPLOADS
# ======================
backend/uploads/

# ======================
# MODEL FILES (VERY IMPORTANT)
# ======================
*.h5
*.pkl
*.joblib

# (your files specifically)
backend/model (2).h5
backend/model/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# DOCKER (optional)
# ======================
*.log